
body{background-color:black;}
.a{margin-left:auto;
margin-right:auto;
margin-top:10%;
margin-bottom:7%;
padding-top:3%;
padding-bottom:32%;
width:80%;
height:95%;
background-image:url('bg.png');

background-size:contain;
font-weight:bold;
font-size:14px;
font-family:arial;
letter-spacing:1.2;}

.b{
/*height:150px;*/
width:33.33%;
back-ground-color:#f5f5f5;
margin:auto;
/*ext-align:center;
padding:auto;
margin-top:0;*/
}
.c{
  margin-top: 50;
  width:100%;
height:15%;
background-color:white;
text-align:center;
}
.d{width:100%;
height:70%;
}
.e{width:100%;
height:15%;
background-color:red;}
